#inp{
    width: 195px;
    height: 40px;
    border: 2px solid #eaa33c;
    outline: none;
}
#but{
    width: 140px;
    height: 36px;
    border:1px solid #989898;
    background-color: #ebebeb;
    text-align: center;
    color: #949494;
    outline: none;
}
#search{
    margin-top: 0px;
}
.history{
    width: 415px;
}
#hList{
    width: 400px;
}
#del{
    background-color: #949494;
    color:#fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    float: right;
    margin-top: 10px;
}
#sp{
    background-color: #e0e0e0;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    border:1px solid #ccc;
}